body {
  font-family: Arial, Helvetica, sans-serif;
}

.gallery {
  display: inline-block;
  border: 2px solid hsl(0, 0%, 50%);
  margin: 10px;
  width: 200px;
}

.gallery .description {
  padding: 10px;
  text-align: center;
}

.gallery:hover {
  border: 2px solid #000;
}

.gallery img {
  width: 100%;
  height: auto;
}
